In [1]:
import pandas as pd
import time
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn.neural_network as nn
from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [2]:
datos = pd.read_csv("FOTOSINTESIS.csv", delimiter=";")

In [3]:
datos = datos.fillna(datos.mean())

In [4]:
datos = datos.drop(['Ano','Cod','Bloque'], axis=1)

In [5]:
cols_to_norm = ['Altura planta','Area de copa (A) =m2', 'Diametro tronco (cm)','A.F no destructiva m2','P','Asimilacion de CO2','Uso eficiente del agua','Transpiracion','Conductividad','K','MO','Radiacion','Temperatura','Conductividad electrica','Lluvias acumuladas (mms)','Humedad',' Numero de dias con lluvia','Total']
datos[cols_to_norm] = datos[cols_to_norm].apply(lambda X: (X - X.min()) / (X.max() - X.min()))

In [6]:
datos = datos.drop(['Altura planta','Area de copa (A) =m2','Asimilacion de CO2','Uso eficiente del agua','Transpiracion','Conductividad','K','MO','Conductividad electrica','Lluvias acumuladas (mms)','Humedad'], axis=1)

In [7]:
#datos = datos.drop(['A.F no destructiva m2','P'], axis=1)

In [8]:
datos.head()

,Diametro tronco (cm),A.F no destructiva m2,P,Radiacion,Temperatura,Numero de dias con lluvia,Total
0,0.315053,0.239180,0.063124,0.404994,0.980408,0.666667,0.081196
1,0.310385,0.153458,0.063124,0.404994,0.980408,0.666667,0.042171
2,0.345391,0.303673,0.063124,0.404994,0.980408,0.666667,0.018566
3,0.190198,0.033923,0.063124,0.404994,0.980408,0.666667,0.153303
4,0.353559,0.186011,0.063124,0.404994,0.980408,0.666667,0.046181

In [9]:
datos.describe(include="all")

,Diametro tronco (cm),A.F no destructiva m2,P,Radiacion,Temperatura,Numero de dias con lluvia,Total
count,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,0.508937,0.433856,0.336701,0.395773,0.494167,0.546729,0.176190
std,0.185929,0.205701,0.348557,0.335052,0.369474,0.445461,0.154573
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.380105,0.276705,0.063124,0.156227,0.230687,0.000000,0.059836
50%,0.504667,0.420100,0.237079,0.348673,0.454368,0.666667,0.143664
75%,0.634481,0.571228,0.574558,0.456913,0.980408,1.000000,0.244706
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
# Especificar X y Y
X = datos.values[:,:-1]  #[:,14:18] #[:,3:-1]
Y = datos.values[:,-1]

In [11]:
# hacer validación cruzada
kf = KFold(n_splits=5,random_state=0, shuffle=True)
kf.get_n_splits(X)

5

In [12]:
# para hacer holdout
#X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42, shuffle=True)

In [ ]:

#start = time.time()
#for i in range(1):
    
#mlp = nn.MLPRegressor(solver='adam', hidden_layer_sizes=10, max_iter=100, activation='relu', random_state=1, learning_rate_init=0.025, batch_size='auto', momentum=0.09)
#mlp.fit(X_train, y_train)
#y_pred = mlp.predict(X_test)
#r2 = r2_score(y_test, y_pred)
#mse = mean_squared_error(y_test, y_pred)
#mae = mean_absolute_error(y_test, y_pred)
#print("R2: ", r2)
#print("MSE: ", mse)
#print("RMSE: ", np.sqrt(mse))
#print('MAE: ', mae)

#end = time.time()
#print('Total Time: ', end - start)

In [13]:
#CON VALIDACIÓN CRUZADA

start = time.time()

R = []
MSE = []   
MAE = []   
for train_index, test_index in kf.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    mlp = nn.MLPRegressor(solver='adam', hidden_layer_sizes=10, max_iter=100, activation='relu', random_state=1, learning_rate_init=0.025, batch_size='auto', momentum=0.09)
    mlp.fit(X_train, y_train)
    y_pred = mlp.predict(X_test)
    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    print("R2: ", r2)
    print("MSE: ", mse)
    print("RMSE: ", np.sqrt(mse))
    print('MAE: ', mae)
    R.append(r2)
    MSE.append(mse)
    MAE.append(mae)
print("meanR2: ",np.array(R).mean())
print("meanMSE: ",np.array(MSE).mean())
print("meanRMSE: ", np.sqrt(MSE).mean())
print('meanMAE: ',np.array(MAE).mean())


end = time.time()
print('Total Time: ', end - start)

R2:  0.2361186681087477
MSE:  0.02285685679433398
RMSE:  0.15118484313691627
MAE:  0.11002791954260586
R2:  0.10260245107757326
MSE:  0.01985065124565476
RMSE:  0.14089233920144403
MAE:  0.11351094307786001
R2:  0.18286535397682813
MSE:  0.0165352687607451
RMSE:  0.12858953596908693
MAE:  0.10290777530237873
R2:  0.05612014387901265
MSE:  0.02918188823669838
RMSE:  0.1708270711471059
MAE:  0.12170873786760629
R2:  0.024540138793165744
MSE:  0.015447743887151023
RMSE:  0.12428895319838776
MAE:  0.10148490737365498
meanR2:  0.1204493511670655
meanMSE:  0.020774481784916646
meanRMSE:  0.14315654853058818
meanMAE:  0.10992805663282117
Total Time:  0.16090655326843262